@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather-LightItalic";
  src: url("../fonts/Merriweather-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "MarckScript-regular";
  src: url("../fonts/MarckScript-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AnimaticSC-Bold";
  src: url("../fonts/AmaticSC-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "AnimaticSC-Regular";
  src: url("../fonts/AmaticSC-Regular.ttf") format("truetype");
}

/* font-family: "Roboto-Regular", sans-serif;
font-family: "MarckScript-regular", sans-serif;
font-family: "AnimaticSC-Bold", sans-serif;
font-family: "AnimaticSC-Regular", sans-serif;*/

:root {
  --main-font-color: #3e474e;
  --light-blue-color: #737f9b;
}
body {
  font-family: "Roboto-Regular", sans-serif;
}
.header {
  background-color: none;
  height: 75px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.menu_desktop {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
  filter: opacity(0.6) drop-shadow(0 0 0 var(--main-font-color));
  margin-left: 20px;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu__item {
  text-align: center;
  margin-right: 40px;
}

.menu__item a {
  text-decoration: none;
  font-family: "AnimaticSC-Bold", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: var(--main-font-color);
  transition: 0.3s;
}
.menu__item:last-child {
  margin-right: 20px;
}
.menu__item a:hover {
  color: #a3a3a3;
}

.banner {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25) 0 100%),
    url("../img/romashki.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
  margin-top: -75px;
}

.banner__title {
  padding-top: 300px;
  font-family: "AnimaticSC-Bold", sans-serif;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  color: var(--main-font-color);
  font-size: 80px;
  line-height: 80px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.banner__slogan {
  font-family: "MarckScript-regular", serif;
  margin: 50px auto 0;
  max-width: 800px;
  text-align: center;
  color: var(--light-blue-color);
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-style: italic;
}

.lodeinoe {
}
.houses {
  padding-bottom: 200px;
}
.houses__header {
}
.houses__title {
}
.section__title {
  font-family: "AnimaticSC-Bold", sans-serif;
  padding-top: 150px;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  color: var(--main-font-color);
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.houses__title-desc {
}
.section__desc {
  font-family: "MarckScript-regular", serif;
  margin: 10px auto 0;
  max-width: 1000px;
  text-align: center;
  color: var(--light-blue-color);
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-style: italic;
}
.houses__inner {
  margin-top: 90px;
}

.house-cover__container{
  cursor: pointer;
  height:466px;
  position:relative;
}
.house-cover__container img{
  width: 350px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 30px 2px rgba(34, 60, 80, 0.4);
  -moz-box-shadow: 0px 5px 30px 2px rgba(34, 60, 80, 0.4);
  box-shadow: 0px 5px 30px 2px rgba(34, 60, 80, 0.4);
  transition: 0.5;
}

.house-cover__container:hover{
  img {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);} 
  .house-cover__title{
    color:var(--light-blue-color);
  }
}
.house-cover__title{
  bottom: 1px; 
  position: absolute;
  color: #fff;
  font-family: "AnimaticSC-Bold", sans-serif;
  font-size: 60px;
  line-height: 50px;
  width: 300px;
  margin:0;
  padding: 15px;
}
